@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans.ttf');
}

.font-custom{
    font-family: 'OpenSans';
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-section {
    background-color: #3187e9;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
}

.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #6c757d;
}

.logo_desa img {
width: 60px;
height: auto;
object-fit: contain;
transition: transform 0.3s ease;
padding-right: 10px;
}

.logo_desa img:hover {
transform: scale(1.05);
}
